<h1>Edit Profile</h1>
<%= form_with model: @user, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :profile_image, "Profile Image URL" %>
    <%= form.text_field :profile_image %>
  </div>
  <div>
    <%= form.submit "Update Profile" %>
  </div>
<% end %>
